body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: #eeeeee;
}
h1, h2, h3 {
	font-family: 'Wire One', sans-serif;
}
a {
	color: #FF29B2;
}
a:hover {
	color: #409aa9;
	text-decoration: none;
}

a:footer hover {
	color: #FFF335;
	text-decoration:  none;
}

.btn-primary {
	color: #fff;
	background-color: #FF29B2;
	border-color: #FF29B2;
	font-weight: 100;
}
.btn-primary:hover {
	background-color: #E8C631;
	border-color: #E8C631;
}

.unsplash-header {
	background-color: #FF29B2;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
	color: #ffffff;
}
.unsplash-header h1 small {
	font-size: .35em;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.unsplash-header a {
	color: #ffffff;
	text-decoration: none;
}
.unsplash-header a:hover {
	color: #ffffff;
	text-decoration: none;
}

.unsplash-footer {
	border-top: solid 5px #35FFDB;
	background-color: #FFF335;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
	margin-top: 2em;
	color: #000000;
}

	.unsplash-footer a {
    color: #000000;
    font-size: 2em;
    margin-left: .25em;
}

.unsplash-home-page-intro {
    background-color: #35FFDB;
    color: #ffffff;
    padding: 1em 0;
    margin-bottom: 1em;
}
.unsplash-navigation {
	background-color: #FFBAA5;
	padding-top: .5em;
	padding-bottom: .5em;
	margin: 0;
	margin-bottom: 2em;
}
.unsplash-navigation .breadcrumb {
	background-color: #FFBAA5;
	margin: 0;
	color: #ffffff;
}
.unsplash-navigation .breadcrumb li, .unsplash-navigation .breadcrumb a, .unsplash-navigation .breadcrumb a:hover {
	color: #ffffff;
	text-decoration: none;
}
.unsplash-navigation .breadcrumb li.active {
	color: #CA41DB;
	font-weight: 400;
}
.breadcrumb-item+.breadcrumb-item::before {
	color: #ffffff;
}

.unsplash-home-page-intro {
	background-color: #FFBAA5;
	padding:3em 0;
	color: #ffffff;
	margin-bottom: 2em;
}

.unsplash-navigation {
	background-color: #FFBAA5;
	padding-top: .5em;
	padding-bottom: .5em;
	margin: 0;
	margin-bottom: 2em;
}
.unsplash-navigation .breadcrumb {
	background-color: #FFBAA5;
	margin: 0;
	color: #ffffff;
}
.unsplash-navigation .breadcrumb li, .unsplash-navigation .breadcrumb a, .unsplash-navigation .breadcrumb a:hover {
	color: #ffffff;
	text-decoration: none;
}
.unsplash-navigation .breadcrumb li.active {
	color: black;
	font-weight: 400;
}
.breadcrumb-item+.breadcrumb-item::before {
	color: #ffffff;
}

.modal h1 {
	margin:0;
}

.modal h1 {
	margin:0;
}
dt {
	font-family: 'Wire One', sans-serif;
	font-size: 1.75em;
}

dd {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font size .8em
	font-weight: 100;
	
}
dd small {
	font-size: .8em;
	font-weight: 100;
}

